@font-face {
  font-family: myFirstFont;
  src: url("/font/B-Koodak/B\ Koodak\ Bold_0.ttf");
}

body {
  font-family: myFirstFont !important;
  overflow-x: hidden !important;
}

/* #ul_padding {
  padding-bottom: 0% !important;
}
/* #submit-pishrafte {
  background-color: #053f86 !important;
  color: #ea8925 !important;
} */
/* .bg-sell {
  background-color: #ea8925 !important;
}
.sell {
  border: 4px solid #053f86 !important;
} */
/* .name {
  border-top: 1px solid #ea8925 !important ;
  border-right: 1px solid #ea8925 !important ;
  color: black !important ;
} 
#px {
  padding-left: 8% !important;
  padding-right: 8% !important;
}
.hover-b:hover {
  border-bottom: 2px solid black !important;
}
#list {
  margin-left: 8% !important;
  margin-right: 8% !important;
}
#circle {
  list-style-type: disc !important;
}
.page_num {
  border: 1px solid black !important;
  border-radius: 60% !important;
}
.page_num:hover {
  background-color: darkgray !important;
} */
.border-list {
  border: 1px solid rgba(0, 0, 0, 0.097) !important;
}
.shadow-li {
  box-shadow: 0px 1px 1px 0.5px rgba(0, 0, 0, 0.24) !important;
}
.bg-blue {
  background-color: #053f86 !important;
  color: white !important;
  box-shadow: 0px 1px 1px 0.5px #053877 !important;
  border: 1px solid #053f86;
}
.mt-main {
  margin-top: 10% !important;
}
.border-li {
  border-bottom: 1px solid #2269c1 !important;
}
.border-span-L {
  border: 1px black !important;
}
.col-49 {
  width: 49% !important;
}
.order-nav {
  order: 12;
}

input:focus {
  outline: none !important;
}

@media only screen and (max-width: 416px) {
  .fix-item {
    margin-top: 50% !important;
    margin-bottom: 20% !important;
    position: relative !important;
    right: 6% !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .fix-item {
    margin-top: 50% !important;
    margin-bottom: 20% !important;
    position: relative !important;
    right: 6% !important;
  }
  .logo {
    width: 10% !important;
    height: auto !important;
  }
  .mt-main {
    margin-top: 20% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .fix-item {
    margin-top: 30% !important;
    margin-bottom: 20% !important;
    position: relative !important;
    right: 6% !important;
  }
  .mt-main {
    margin-top: 20% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .fix-item {
    margin-top: 15% !important;
    margin-bottom: 20% !important;
    position: relative !important;
    right: 4% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .fix-item {
    position: fixed !important;
    right: 70% !important;

    margin-top: 0% !important;
  }
  .mt-main {
    margin-top: 10% !important;
  }
  .order-nav {
    order: 0 !important;
  }
  .col-xl-media {
    width: 70% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .fix-item {
    position: fixed !important;
    left: 7% !important;
  }
  .mt-main {
    margin-top: 10% !important;
  }
  .fix-item {
    position: fixed !important;
    right: 70% !important;
    margin-top: 0% !important;
  }

  .order-nav {
    order: 0 !important;
  }
}
